* {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: #000;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

input, button, select, textarea {
    padding: 1em;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

label {
    padding: 1em;
    font-weight: bold;
    color: #000;
}

input:focus, select:focus, textarea:focus {
    border-bottom: 1px solid #000;
}

input:hover, button:hover, select:hover, textarea:hover {
    border-bottom: 1px solid #000;
}

button:hover {
    cursor: pointer;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: 2px solid #ccc;
}

#project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-item {
    margin: 0.25em;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.project-item:nth-child(even) {
    background-color: #efefef;
}

.project-item:hover {
    background-color: #ccc;
}

.project-item:active {
    background-color: #ccc;
}

.issues-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-left: 2px solid #ccc;
}

#issue-list {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.issue-item {
    margin: 0.25em;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.issue-item:nth-child(even) {
    background-color: #efefef;
}

.issue-item:hover {
    background-color: #ccc;
}

.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0%;
}

.title {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.no-issues {
    width: 100%;
    font-size: 1em;
    font-style: italic;
    color: #000;
    text-align: center;
}

.no-projects {
    width: 100%;
    font-size: 1em;
    font-style: italic;
    color: #000;
    text-align: center;
}

.invalid-input {
    border-bottom: 1px solid #f00;
}